body{
margin:0px;
background-color: #212529;
}
#header
{
	width:100%;
	float:left;
	text-align:center;
	background-color:black;
}
#logo
{
	width:30%;
	float:left;
}
#logo h1
{
	cursor:pointer;
	transition:1s;
	color:white;
	font-family:cambria;
}
#logo h1:hover
{
	color:#00b4d8;
}

#menu
{
	float:left;
	width:70%;
}
#menu ul
{
	  margin-right: 10%;
	  padding: 0;
	  float:right;
	  text-align: center;
}
#menu ul li
{
cursor:pointer;
list-style-type:none;
display:inline-block;
padding:8px;
}

#menu ul li a
{
	font-family:cambria;
text-decoration:none;
color:white;
font-size:20px;
}
#menu ul li a:hover
{
color:#00b4d8;
}
@media only screen and (max-width: 590px) {
	#header
	{
		font-size:14px;
	}
	#logo
	{
		width:100%;
		float:left;
		text-align:center;
	}
	#menu
	{
		width:100%;
		margin: 0 auto;
	}
	#menu ul
	{
		float:none;
		margin-right:0px;
	}
}
@media only screen and (max-width: 320px) {
	#header
	{
		font-size:12px;
	}
	#logo h1
	{
		margin-bottom:1%;

	}
	  #menu ul li
	{
		display:block;
	}
 }
 html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  display: grid;
 
  font-family: system-ui, sans-serif;
  
  /* this breaks position sticky in Firefox */
  /* overflow-x: hidden; */
}
.main-body{
  display: flex;
  
}

.side-menu {
	 grid-template-columns: min-content 1fr;
  white-space: nowrap;
  background: black;
  width: 150px;
  height: 100%;
}
#side-bar {
  list-style: none;
  margin: 0;
  padding: 0;
   height: 100%;
}
/* Only stick if you can fit */
@media (min-height: 300px) {
  #side-bar {
    position: sticky;
    top: 0;
  }
}
#side-bar-1 a {
  display: block;
  padding: 0.5rem 1rem;
  color: white;
  text-decoration: none;
}
#side-bar-1 a:hover{
 color: #00b4d8;
}
main {
  padding-bottom: 40rem;
}
section {
  padding: 2rem;
  margin: 0 0 2rem 0;
}
footer {
  grid-column: 1 / 3;
  background: #607D8B;
  padding: 5rem 1rem;
}
.card-container {
    font-family: 'Lato';
    width: 90%;
	display: inline-block;
    margin: 0 auto;
    text-align: center;
    padding: 25px 10px 0 10px;
}

.card {
    display: inline-block;
    max-width: 300px;
    background-color:black;
    text-align: center;
	height: 220px;
    padding-bottom: 30px;
    box-shadow: 0 0px 12px 0 rgba(0,0,0,.4);
    margin-bottom: 25px;
}

.card__image,
.card__image img {
    max-width: 100%;
    width: 100%;
	height: 160px;
}

.card__textContent {
    display: block;
    background-color: black;
	color: white;
    margin: 10px auto 0 auto;
    width: 80%;
	
    padding: 20px 10px;
}

.card__title {
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 0.5px solid rgba(0, 0, 0, .1);
}

.card__title-main {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.card__title-sub {
    color: rgba(0, 0, 0, .6);
    font-size: 1.2rem;
    font-style: italic;
    text-transform: capitalize;
}

.card__content {
    color: rgba(0, 0, 0, .8);
    text-align: justify;
    margin-bottom: 25px;
    line-height: 1.6rem;
}

@media screen and (min-width: 1170px) {

    .card-container {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
    }    

    .card {
        margin-right: 10px;
    }
}

@media screen and (min-width: 1680px) {

    .card-container {
        display: block;
        padding-bottom: 1px;
    }

    .card {
        max-width: 1024px;
        text-align: left;
        padding: 0;
        display: flex;
        margin: 0 auto 25px auto;
    }

    .card__image {
        max-width: 66%;
        text-align: left;
        /* This should be changed by JS
        background-image: url("/images/mountain-3.jpeg"); */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .card__image img {
        display: none;
    }

    .card__textContent {
        display: inline-block;
        width: 65%;
        margin: 12px 0 0 -30px;
        padding: 25px;
    }

    .card__title {
        text-align: left;
    }
}